/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
}
 
 #mainHeading {
    color: blueviolet
 }
#testP
.funParagraph {
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: blue;   
    }
